@import '/globals.css';

#alert-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

#alert {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}

#alert-content {
  display: flex;
  flex-direction: column;
  background-color: #122634;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
}

#alert-content p {
  font-size: 1.4rem;
  padding: 1rem;
}

#alert-content-buttons {
  display: flex;
  justify-content: flex-end;
  background-color: #254c68;
  padding: 0.5rem;
}

#alert-content-buttons button {
  background-color: #122634;
  text-align: center;
  transition: background-color 0.1s;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}

#alert-content-buttons button:first-child {
  margin-right: 0.5rem;
}

#alert-content-buttons button:hover {
  background-color: #0f1f2b;
}

@media screen and (max-width: 768px) {
  #alert-content p {
    font-size: 1.2rem;
  }

  #alert-content-buttons button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
