@import '/globals.css';

section {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 2rem 4rem;
  width: 44rem;
}

section:last-child {
  margin-bottom: 0;
}

h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
}

h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
}

ol {
  color: #fff;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  max-height: 15rem;
  overflow: scroll;
}

li {
  margin-bottom: 0.25rem;
}

li:last-child {
  margin-bottom: 0;
}

button {
  font-size: 1.5rem;
  text-decoration: underline;
}

button:hover {
  color: #a0b1bd;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
  }

  ol {
    font-size: 1.5rem;
  }

  button {
    font-size: 1.5rem;
  }

  section {
    width: 22rem;
    height: 22rem;
    padding: 1rem;
  }
}
