@import '../globals.css';

h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

ol {
  color: #fff;
  font-size: 1.2rem;
}

li {
  margin-bottom: 0.25rem;
}

li:last-child {
  margin-bottom: 0;
}

button {
  font-size: 1.2rem;
}

button:hover {
  color: #a0b1bd;
  text-decoration: underline;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  margin-bottom: 1rem;
  padding: 2rem 4rem;
}

section:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }

  ol {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }

  section {
    padding: 1rem;
  }
}
