@import '/globals.css';

#timer-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer-results-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  width: 20rem;
}

#timer-results-list ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 0.5rem;
}

#timer-results-buttons {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  transition: background-color 0.1s;
  width: 100%;
  border-radius: 1rem;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 768px) {
  #timer-results ol {
    font-size: 1rem;
    width: 100%;
  }

  button {
    font-size: 1rem;
  }
}
