main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 1rem;
}

nav {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

nav button {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  transition: background-color 0.1s;
  margin-right: 0.5rem;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 800px) {
  nav {
    padding: 0.5rem;
  }

  nav button {
    font-size: 1rem;
    padding: 0.25rem;
  }
}
